/* body{
  overflow-y: hidden;
}
#table{
display: flex;
flex-direction: column;
}
.flex2{
  margin-right: auto;
  margin-left: auto;
  height: 700px
}
table, th, td {    
 
margin-left: auto;  
margin-right: auto;     
width: 500px;   

}    
table{
  border: 1px solid black;
  border-bottom: none;
border-collapse: collapse;
overflow-y: auto;
}
#table{
  overflow-y: scroll;
  max-height: 600px;
}

.flex1{
  margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: table;
} */

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

/* .app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
} */

.app{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.Main_Home{
  display: flex;
}



