
  .feed__header {
    position: fixed;
    top: 0;
    background-color:rgb(23, 19, 86);
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    width: 49.5%;
    right:600px;
  }
  
  .feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
  }

  .flex2{
    background-color: rgb(20, 14, 86);
    color:yellowgreen ;
    width: 760px;
    padding-top: 200px;
    right:500px;
  }
  #submitbtn{
    border: solid 1px black;
    border-radius: 5px 5px;
    margin: 15px 0 0 45px;
  }

  .homeText{
    color: whitesmoke;
  }

  .feed{
      padding: 200px;
  }
